@font-face {
    font-family: myFont;
    src: url("ttf/8bit.ttf");
}

@font-face {
    font-family: myFont2;
    src: url("ttf/horrendo.ttf");
}

@font-face {
    font-family: myFont3;
    src: url("ttf/Squareo.ttf");
}

@font-face {
    font-family: myFont4;
    src: url("ttf/Basica solo letras para dafont lista__.ttf");
}

body {
    margin: 0;
}

.end1 {
    -webkit-user-select: none;
       -moz-user-select: none;
    font-family: myFont4;
    position: absolute;
    top: 40%;
    width: 50%;
    text-align: center;
    font-size: 10vw;
}

.end2 {
    -webkit-user-select: none;
       -moz-user-select: none;
    font-family: myFont4;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;
    text-align: center;
    font-size: 10vw;
}



.bgBlack1 {
    display: none;
    position: absolute;
    width: 50%;
    height: 100%;
    background: #000000;
    z-index:1000;
    opacity:0.7;
}

.bgBlack2 {
    display: none;
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    background: #000000;
    z-index:1000;
    opacity:0.7;
}

.life1 {
    display: none;
    position: absolute;
    top: 13%;
    left: 3%;
    width: 30%;
    height: 4%;
    border: 0.3vw gray solid;
    background: linear-gradient(to right, #800000, #990000 , #CC0000, #FF1212);
}

.dead1 {
    position: absolute;
    background-color: black;
    left: 100%;
    width: 0%;
    height: 100%;
}

.life2 {
    display: none;
    position: absolute;
    top: 13%;
    left: 67%;
    width: 30%;
    height: 4%;
    border: 0.3vw gray solid;
    background: linear-gradient(to right, #FF1212, #CC0000, #990000, #800000 );
}

.dead2 {
    position: absolute;
    background-color: black;
    width: 0%;
    height: 100%;
}

.time {
    font-family: myFont3;
    position: absolute;
    top: 6%;
    left: 46.5%;
    font-size: 5vw;
    color: greenyellow;
    display: none;
}

.timeImg {
    position: absolute;
    top: 4.5%;
    left: 39.5%;
    width: 5.5%;
    height: 12.5%;
    display: none;
}

.canvas1 {
    float: left;
    margin: 0;
    border: 0;
}

.canvas2 {
    float: left;
    margin: 0;
    border: 0;
}

.position1 {
    -webkit-user-select: none;
       -moz-user-select: none;
    font-family: myFont;
    position: absolute;
    top: 5%;
    left: 3%;
    font-size: 1.5vw;
    color: #F0FA29;
}

.position2 {
    -webkit-user-select: none;
       -moz-user-select: none;
    font-family: myFont;
    position: absolute;
    top: 5%;
    left: 75%;
    font-size: 1.5vw;
    color: #F0FA29;
}


.exit {
    font-family: myFont2;
    position: absolute;
    top: 59%;
    left: 38%;
    font-size: 5.8vw;
    height: 11%;
    width: 23%;
    background-image: url("te.jpg");
    background-size: 100% 100%;
    border: 0;
    color: white;
    z-index: 1111;
    display: none;
}

.exit:hover {
    font-family: myFont2;
    position: absolute;
    top: 58%;
    left: 37%;
    font-size: 6.4vw;
    height: 13%;
    width: 25%;
    z-index: 1111;
}

.loading {
	font-family: myFont;
	position: absolute;
	top: 54%;
	text-align: center;
	font-size: 4vw;
}

html {
    height: 100%;
}

.container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    background: #33485F;
}

.icecream > .flavor {
    position: relative;
    width: 190px;
    height: 260px;
    border-radius: 80px 80px 10px 10px;
    overflow: hidden;
}
.icecream > .flavor:after {
    content: '';
    position: absolute;
    left: 21px;
    bottom: 20px;
    width: 20px;
    height: 170px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
}

.icecream > .flavor > .flavours {
    position: relative;
    top: 0%;
    left: -20%;
    width: 140%;
    height: 120%;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #f63a99), color-stop(25%, #30dcf6), color-stop(25%, #30dcf6), color-stop(50%, #30dcf6), color-stop(50%, #f2d200), color-stop(50%, #f2d200), color-stop(75%, #f2d200), color-stop(75%, #70ca5c));
    background-image: linear-gradient(0deg, #f63a99 25%, #30dcf6 25%, #30dcf6 25%, #30dcf6 50%, #f2d200 50%, #f2d200 50%, #f2d200 75%, #70ca5c 75%);
    background-position: 0px 0px;
    background-repeat: repeat-y;
    -webkit-animation: flavours 5s linear infinite;
            animation: flavours 5s linear infinite;
    -webkit-transform: rotate(155deg);
            transform: rotate(155deg);
}

.icecream > .stick {
    width: 57px;
    height: 86px;
    background: #E09C5F;
    border-radius: 0 0 25px 25px;
    display: block;
    margin: 0 auto;
}

.icecream > .stick:after {
    display: block;
    content: '';
    width: 100%;
    height: 24px;
    background: #8D613B;
}

@-webkit-keyframes flavours {
    to {
        background-position: 0 -100vh;
    }
}

@keyframes flavours {
    to {
        background-position: 0 -100vh;
    }
}